@model ProductViewModel

<form method="post" enctype="multipart/form-data">
    <div class="border p-3 my-4">
        <div class="row pb-2 bg-p">
            <h2 class="lead text-primary ">CREATE PRODUCT</h2>
            <hr/>
        </div>
        @*<div asp-validation-summary="ModelOnly"></div>*@
    <div class="mb-3 row p-1">
            <label asp-for="Product.Title" class="p-0"></label>
            <input asp-for="Product.Title" type="text" class="form-control" />
            <span asp-validation-for="Product.Title" class="text-danger"></span>
    </div>
    <div class="mb-3 row p-1">
         <label asp-for="Product.Description" class="p-0"></label>
         <input asp-for="Product.Description" type="text" class="form-control" />
          <span asp-validation-for="Product.Description" class="text-danger"></span>
    </div>
    <div class="mb-3 row p-1">
        <label asp-for="Product.ISBN" class="p-0"></label>
        <input asp-for="Product.ISBN" type="text" class="form-control" />
        <span asp-validation-for="Product.ISBN" class="text-danger"></span>
     </div>
    <div class="mb-3 row p-1">
        <label asp-for="Product.Author" class="p-0"></label>
        <input asp-for="Product.Author" type="text" class="form-control" />
        <span asp-validation-for="Product.Author" class="text-danger"></span>
     </div>
    <div class="mb-3 row p-1">
            <label asp-for="Product.ListPrice" class="p-0"></label>
            <input asp-for="Product.ListPrice" type="text" class="form-control" />
            <span asp-validation-for="Product.ListPrice" class="text-danger"></span>
    </div>
    <div class="mb-3 row p-1">
            <label asp-for="Product.Price" class="p-0"></label>
            <input asp-for="Product.Price" type="text" class="form-control" />
            <span asp-validation-for="Product.Price" class="text-danger"></span>
    </div>
    <div class="mb-3 row p-1">
            <label asp-for="Product.Price50" class="p-0"></label>
            <input asp-for="Product.Price50" type="text" class="form-control" />
            <span asp-validation-for="Product.Price50" class="text-danger"></span>
    </div>
    <div class="mb-3 row p-1">
            <label asp-for="Product.Price100" class="p-0"></label>
            <input asp-for="Product.Price100" type="text" class="form-control" />
            <span asp-validation-for="Product.Price100" class="text-danger"></span>
    </div>
    <div class="mb-3 row p-1">
            <select asp-for="@Model.Product.CategoryId" asp-items="@Model.CategoryList" class=" form-select p-0">
             <option disaled selected>-- Select Category --</option>
         </select>
            <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
     </div>
    <div class="mb-3 row p-1">
         <input  type="file" class="form-control" />
         <label asp-for="Product.ImageUrl" class="p-0"></label>
    </div>
    <div class="row">
        <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control">CREATE</button>
        </div>
        <div class="col-6 col-md-3">
                <a asp-controller="Product" asp-action="Index" class="btn btn-outline-secondary bprder form-control"> BACK TO LIST</a>
        </div>
    </div>
    
       
    </div>
</form>

@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial"/>
    }
}