@model Category



<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="lead text-primary">CREATE CATEGORY</h2>
            <hr/>
        </div>
    <div class="mb-3">
        <label>CATEGORY NAME</label>
        <input type="text" class="form-control" />
    </div>
    <div class="mb-3">
        <label>DISPLAY ORDER</label>
        <input type="text" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary style="width:150px">CREATE</button>
    </div>
</form>